<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="end"> -->
      <!-- <ion-button id="changeText" (click)="toggleDarkTheme()"> -->
        <!-- <ion-icon slot="start" name="refresh"></ion-icon> -->
      <!-- </ion-button> -->
    <!-- </ion-buttons> -->
    <ion-title>
      Clips Ninja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clips Ninja</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item lines="full">
      <ion-icon id="filter-button" slot="start" name="filter-outline"></ion-icon>
      <ion-toggle checked={{prefersDark}} (ionChange)="changeColors()" id="themeToggle" slot="end"></ion-toggle>
      <ion-icon slot="end"name="contrast-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-searchbar animated></ion-searchbar>

  <ion-popover trigger="filter-button">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-list-header>Filters</ion-list-header>

          <ion-item>
            <ion-accordion-group>
              <ion-accordion value="shapes">
                <ion-item slot="header">
                  <ion-label>Time Frame</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label>Any Time</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past hour</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past 24 hours</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past week</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past month</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-item>
          <ion-item>
            <ion-accordion-group>
              <ion-accordion value="shapes">
                <ion-item slot="header">
                  <ion-label>Category</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label>Tech</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nutrition</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Bleuh</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>ascakjsca</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>wcjcaec</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-item>

          <ion-item button>Some other filter</ion-item>
          <!-- <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item> -->
        </ion-list>


      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-button (click)="imFeelingLucky()" expand="block">I'm feeling Lucky</ion-button>
  <!-- <ion-button (click)="update()" expand="block">Update</ion-button> -->

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            However many results in however many seconds
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <a href="https://www.youtube.com/embed/VzCy0REnIq8?start=10&end=60" target="_blank">
            <img  src="https://img.youtube.com/vi/VzCy0REnIq8/mqdefault.jpg" />
          </a>
          <ion-card-header>
            <ion-card-title>
              Video Title
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Video Description
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>
              We Recommend:
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <section>
              <ion-button size="small">1:23</ion-button>
              <ion-button size="small">1:23</ion-button>
              <ion-button size="small">1:23</ion-button>
            </section>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <a [href]=testUrl target="_blank">
            <img  [src]=testThumbnail />
          </a>
          <ion-card-header>
            <ion-card-title>
              Video Title
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Video Description
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>
              We Recommend:
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <section>
              <ion-button size="small">1:23</ion-button>
              <ion-button size="small">1:23</ion-button>
              <ion-button size="small">1:23</ion-button>
            </section>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->

    <ion-row *ngFor="let tuple of safeTuples; let i = index">
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <a [href]=tuple[0] target="_blank">
            <img  [src]=tuple[1] />
          </a>
          <ion-card-header>
            <ion-card-title>
              Video Title
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Video Description
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>
              We Recommend:
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <section>
              <ion-button size="small">1:23</ion-button>
              <ion-button size="small">1:23</ion-button>
              <ion-button size="small">1:23</ion-button>
            </section>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
