@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,700;1,400;1,600;1,800&display=swap');

a {
  text-decoration: none;
}

ion-toolbar {
  display: flex !important;
}

.card-content-md {
  padding: 30px;
}

#landing-info {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landing-name {
  font-family: 'Sarabun', sans-serif;
}

#header-title {
  font-size: 1.5em;
  display: inline-block;
  padding: 0em 8px !important;
  font-family: 'Sarabun', sans-serif;
}

img#header-logo {
  display: inline-block;
  height: 30px;
}

#filter-button {
  cursor: pointer;
  padding-right: 20px;
}

ion-searchbar {
  width: 66.5vw;
  height: 0;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

ion-icon.search-buttons {
  font-size: 15px;
}

.card-col {
  padding: 0 !important;
}

.card-result:hover {
  ion-row .card-col a img.card-thumb {
    opacity: 0.2;
    transition: .22s ease-in-out;
  }

  ion-row .card-col a img.play-img {
    display: block;
  }
}

.card-result:focus {
  ion-row .card-col a img.card-thumb {
    opacity: 0.2;
    transition: .22s ease-in-out;
  }

  ion-row .card-col a img.play-img {
    display: block;
  }
}

img.play-img {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .22s ease-in-out;
}

.card-section {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.card-section * {
  display: inline-block;
}

.card-section ion-button {
  margin-left: 3px;
  font-weight: 700;
}

.card-section ion-badge {
  margin-left: 3px;
  color: white;
  font-weight: 400;
}

ion-card-content a:hover {
  text-decoration: underline;
  color: white;
}

ion-card-header a {
  line-height: 2em;
}

img.card-thumb {
  height: 100%;
  width: 100%;
}

.no-pointer:hover {
  cursor: crosshair;
}

.card-content {
  padding-left: 20px;
}

@media only screen and (max-width: 1030px) {
  #header-title, #themeToggle, #toggle-icon {
    display: none;
  }

  #filter-button {
    padding-right: 2px;
  }

  ion-searchbar {
    width: 67vw;
    height: 0;
    text-align: center;
    margin: 0;
  }
}
