<ion-header [translucent]="true">
  <ion-list>
    <ion-item lines="none">
      <div slot="start" class="ion-text-center logo">
        <img (click)="showLanding()" id="header-logo" alt="logo" height="40" src="assets/icon/logo-white.png">
        <ion-title (click)="showLanding()" id="header-title">
          Clips Ninja
        </ion-title>
      </div>
      <ion-searchbar [(ngModel)]="searchQuery" align-center placeholder="Search Educational YouTube Video Transcripts"></ion-searchbar>
      <ion-icon slot="end" id="filter-button" name="filter-outline"></ion-icon>
      <ion-toggle checked={{prefersDark}} (ionChange)="changeColors()" id="themeToggle" slot="end"></ion-toggle>
      <ion-icon id="toggle-icon" name="contrast-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-popover trigger="filter-button">
    <ng-template>
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>Filters</ion-list-header>
          <ion-item>
            <ion-accordion-group>
              <ion-accordion value="shapes">
                <ion-item slot="header">
                  <ion-label>Time Frame</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label>Any Time</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past Hour</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past 24 Hours</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past Week</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past Month</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Past Year</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-item>

          <ion-item>
            <ion-accordion-group>
              <ion-accordion value="shapes">
                <ion-item slot="header">
                  <ion-label>Topic</ion-label>
                </ion-item>

                <ion-list slot="content">
                  <!-- can dynamically add topics if just filtering results (not searching again) -->
                  <ion-item>
                    <ion-label>Knowledge</ion-label> <!-- very common -->
                  </ion-item>
                  <ion-item>
                    <ion-label>Technology</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Politics</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Society</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Religion</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Business</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Health</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Lifestyle (Sociology)</ion-label> <!-- very common -->
                  </ion-item>
                  <ion-item>
                    <ion-label>Sport</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Physical Fitness</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Entertainment</ion-label> <!-- very common -->
                  </ion-item>
                  <ion-item>
                    <ion-label>Film</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Television Program</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Music</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Hobby</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Video Game</ion-label> <!-- not sure if it's own topic, but is substring of many -->
                  </ion-item>
                  <ion-item>
                    <ion-label>Food</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Fashion</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Pet</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-row>
        <ion-col size-md="8">
          <ion-button class="search-button" color="primary" (click)="search()" expand="block">Search&nbsp;&nbsp;&nbsp;<ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size-md="4">
          <ion-button class="search-button" color="tertiary" (click)="imFeelingLucky()" expand="block">I'm feeling lucky&nbsp;&nbsp;&nbsp;<ion-icon name="sparkles"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row id="landing-info">
    <ion-col size-md="10" offset-md="1" class="ion-text-center">
      <img id="header-logo" alt="logo" src="assets/icon/logo-white.png">
      <h1>Welcome to <span id="landing-name">Clips Ninja</span>!</h1>
      <h5>Search our database of educational youtube video transcripts using the searchbar at the top of the page!</h5>
      <ion-button color="secondary" id="info">More Info</ion-button>&nbsp;&nbsp;&nbsp;
      <ion-button color="secondary" id="privacy">Privacy</ion-button>&nbsp;&nbsp;&nbsp;
      <ion-button color="secondary" id="credits">Credits</ion-button>
    </ion-col>
  </ion-row>

  <ion-modal trigger="info" [breakpoints]="[0, 0.1, 0.35, 1]" [initialBreakpoint]="0.35">
    <ng-template>
      <ion-card-content class="ion-text-center modal-content">
        <ion-card-title>More Info</ion-card-title>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </ion-card-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="privacy" [breakpoints]="[0, 0.1, 0.32, 1]" [initialBreakpoint]="0.32">
    <ng-template>
      <ion-card-content class="ion-text-center modal-content">
        <ion-card-title>Privacy</ion-card-title>
        <br>
        Due to time constraints, we were unable to successfully enable SLL on our Google Cloud Engine, therefore you must <ion-badge>ALLOW</ion-badge> insecure content for this site in your broswer. To do so, please read <a
          href="https://experienceleague.adobe.com/docs/target/using/experiences/vec/troubleshoot-composer/mixed-content.html?lang=en">this</a> article for desktop, and <a
          href="https://stackoverflow.com/questions/34878749/in-androids-google-chrome-how-to-set-unsafely-treat-insecure-origin-as-secure#:~:text=This%20can%20be%20done%20from,to%20be%20treated%20as%20secure.">here</a> for Chrome on Android (IP
        addres: <ion-badge>http://35.230.150.245:9090</ion-badge>). We apologise for this inconveneice.
        <br><br>
        This site does not store any personal information or use cookies to track your profile.
      </ion-card-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="credits" [breakpoints]="[0, 0.1, 0.27, 1]" [initialBreakpoint]="0.27">
    <ng-template>
      <ion-card-content class="ion-text-center modal-content">
        <ion-card-title>Credits</ion-card-title>
        <br>
        This site was developed by the following students at The University of Edinburgh in the School of Informatics
        <br><br>
        <ion-chip>
          <ion-avatar>
            <img src="https://avatars.githubusercontent.com/u/39608427?v=4">
          </ion-avatar>
          <ion-label>Chanwoo Choi</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img src="https://avatars.githubusercontent.com/u/22382958?v=4">
          </ion-avatar>
          <ion-label>Ryan Schuller</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img src="https://avatars.githubusercontent.com/u/5190947?v=4">
          </ion-avatar>
          <ion-label>Chris Perceval-Maxwell</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img src="https://avatars.githubusercontent.com/u/43918391?v=4">
          </ion-avatar>
          <ion-label>Ed Walpole</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img src="https://avatars.githubusercontent.com/u/47627838?v=4">
          </ion-avatar>
          <ion-label>Maddy Boyle</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img src="https://avatars.githubusercontent.com/u/60480396?v=4y">
          </ion-avatar>
          <ion-label>Kelvin Ng</ion-label>
        </ion-chip>
      </ion-card-content>
    </ng-template>
  </ion-modal>

  <ion-row>
    <ion-col size-md="8" offset-md="2">
      <ion-card>
        <ion-item color="success" class="ion-text-center">
          <ion-icon class="search-res" name="information-circle"></ion-icon>&nbsp;&nbsp;&nbsp;Search details{{timeTakenString}}
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row *ngFor="let vidObj of vidObjects; let i = index">
      <ion-col size-md="8" offset-md="2">
        <ion-card class="card-result">
          <ion-row>
            <ion-col class="card-col" size-lg="5" size-sm="12" size-xs="12">
              <a href="{{'https://www.youtube.com/embed/' + vidObj.videoid}}" target="_blank">
                <img src="assets/play.jpg" class="play-img">
                <img class="card-thumb" src="{{'https://img.youtube.com/vi/'+vidObj.videoid+'/mqdefault.jpg'}}" />
              </a>
            </ion-col>
            <ion-col size-lg="7" size-sm="12" size-xs="12">
              <ion-card-content>
                <ion-card-title>
                  <span class="span-link" (click)="clickTitle(vidObj.videoid)">{{vidObj.videoTitle}}</span>
                </ion-card-title>
                <ion-card-subtitle>
                  Channel Name: <span class="span-link" (click)="clickChannel(vidObj.channelId)">{{vidObj.channelTitle}}</span>
                </ion-card-subtitle>
                <ion-card-subtitle>Date published: {{vidObj.date}}</ion-card-subtitle>

                <section class="card-section">
                  <ion-card-subtitle>Topics:</ion-card-subtitle>
                  <ion-badge *ngFor="let topic of vidObj.topics" color="medium">{{topic}}</ion-badge>
                </section>

                <section class="card-section">
                  <ion-card-subtitle>Tags:</ion-card-subtitle>
                  <ion-badge *ngFor="let tag of vidObj.videoTags" color="medium">{{tag}}</ion-badge>
                </section>

                <section class="card-section">
                  <ion-card-subtitle>We recommend to start at:</ion-card-subtitle>
                  <ion-button href="{{'https://www.youtube.com/embed/' + vidObj.videoid +'?start='+timeFunction(vidObj.timestamp)}}" target="_blank" size="small">
                    <ion-icon name="play"></ion-icon>
                    {{vidObj.timestamp}}
                  </ion-button>
                </section>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!--
  <ion-button block="true" (click)="timeFunction('')">Time Function</ion-button> -->


</ion-content>
